@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "_LoginLayout";
}

@model LoginUserDto

<div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="pills-login">
    <form asp-action="Login" asp-controller="Home" method="post">
        <!-- Email input -->
        <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
            <input id="loginName" class="form-control" asp-for="Email">
            <label class="form-label" style="margin-left: 0px;">Email or username</label>
            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 114.4px;"></div><div class="form-notch-trailing"></div></div>
        </div>

        <!-- Password input -->
        <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
            <input type="password" id="loginPassword" class="form-control" asp-for="Password">
            <label class="form-label" for="loginPassword" style="margin-left: 0px;">Password</label>
            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" data-mdb-button-initialized="true">Sign in</button>


    </form>
</div>   